.ipynb_aml_checkpoints/
.ipynb_checkpoints/
NoteBooks_Crossval/
*.pt
data/
representations/**/__pycache__/
outputs/
corebehrt.egg-info/
.venv
.azure
azure_job_config.yaml
.azure_job_configs
.amlignore
**.amltmp
corebehrt/sandbox
/profiling
/tmp
corebehrt/main/create_data_profiling.py
**tmp**
linux_install/
.DS_Store
env/
sample_data/
Mypipeline/
__pycache__/
*.pyc
__pycache__/
Results_032026/
*.pyc
